.trending {
  /* width: 100%;*/
  text-align: center;
  background-color: #815959;
  margin: 10px 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:0px;
  height: 100vh;
}

.trending-section h2 {
  font-size: 50px;
  font-weight:600;

}
.trending hr{
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}

.trending-item-grid {
  display: flex;
  /* flex-wrap:wrap; */
  margin-top: 0px;
  gap: 20px;
  justify-items: center;
}